<!DOCTYPE html>
<html lang="en">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
      <h2>Recover password</h2>
      <h3><span>Hello </span><span th:text="${userName}">User</span></h3>
      <h4>Click on the following link to access your account</h4>
      <a th:href="@{ ${url} }"><button>Go to my account</button></a>
    </body>
  </html>
</html>
